<h1>Register</h1>

<form action="/register" method="post">
    <div>
        <label for="username">username</label>
        <input type="text" id="username" name="username">
    </div>
    
    <input type="radio" name="role" value="student" /> Student
    <input type="radio" name="role" value="teacher" /> Teacher

    <div>
        <label for="password">password</label>
        <input type="password" id="password" name="password">
    </div>
    <br>
    <button type="submit">SEND</button>

</form>