<style>
    body {
        background-color: lightsteelblue;
    }
</style>

<h1>Teacher's Profile</h1>

<p>View students</p>
<ul>
    <li><a href="/student1">Student 1</a></li>
    <li><a href="/student2">Student 2</a></li>
</ul>

<a href="/identify">Log In</a>
